<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <h1><center><b>MY ACCOUNT</b></center></h1>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="bucketlist" aria-expanded="false">
            💟bucketlist   
        </button>
    </div><br>
    <div>
        <h5>personaldetails</h5>
        <ul class="personaldetails">
          <li><a class="username" href="#">username</a></li>
          <li><a class="email" href="#">emailaddress</a></li>
          <li><a class="aadharnumber" href="#">aadharnumber</a></li>
        </ul>
    </div>
      
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="notification" aria-expanded="false">
            notification🔔
        </button>
        </div><br>
    <div>
        <h5>settings⚙️</h5>
        <ul class="settings">
        <li><a class="editprofile" href="#">📝editprofile</a></li>
        <li><a class="help" href="#">help</a></li>
        <li><a class="security" href="#">security</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="suggestion" aria-expanded="false">
            pick the best📍
        </button>
        </div><br>

    


</body>
</html>