<h1>auth</h1>
<form method="post" name="login" action="login">
    {%csrf_token%}
    <input required type="text" name="email_address" placeholder="enter your emailaddress"><br>
    <input required type="password" name="password" placeholder="enter your password"><br>
    <button type="submit" name="login"> login </button>
</form>

<form method="post" name="signup" action="signup">
    {%csrf_token%}
    <input required type="text" name="username" placeholder="enter username"><br>
    <input required type="text" name="email" placeholder="enter your emailaddress"><br>
    <input required type="password" name="password" placeholder="enter your password"><br>
    <button type="submit" name="signup"> signup </button>
</form>

