<h1>Dashboard</h1>
<h2>
    hello {{user}}
</h2>

<form method="get" name="logout" action="logout">
    {% comment %} {%csrf_token%} {% endcomment %}
    <button type="submit" class="btn btn-outline-primary" name="logout">logout</button>


</form>
<form method="get" name="feedback" action="feedback">
    {% comment %} {%csrf_token%} {% endcomment %}
    <button type="submit" class="btn btn-outline-primary" name="feedback">feedback</button>
    

</form>
<form method="get" name="exploration" action="exploration">
    {% comment %} {%csrf_token%} {% endcomment %}
    <button type="submit" class="btn btn-outline-primary" name="exploration">exploration</button>


</form>
<form method="get" name="accounts" action="accounts">
    {% comment %} {%csrf_token%} {% endcomment %}
    <button type="submit" class="btn btn-outline-primary" name="accounts">accounts</button>


</form>

<form method="post" name="map" action="map">
    {%csrf_token%}
    <button type="submit" class="btn btn-outline-primary" name="map">map</button>


</form>



